.dropdown {
  position: relative;
}

.dropdown__trigger button {
  /* display: block; */
  cursor: pointer;
}

.dropdown__menu,
.dropdown__content {
  position: absolute;
  top: 100%;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
}

.dropdown__menu_active,
.dropdown__content_active {
  opacity: 1;
  visibility: visible;
}
