.header-auth {
  text-align: right;
}

.header-auth button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 16px;
}

.header-auth span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.header-auth svg {
  display: inline-block;
  vertical-align: middle;
}